<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vision App</title>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="foundation/css/foundation.css">
  <script src="modernizr/modernizr.js"></script> 
</head>
<body>
  <div class="container">
    {{#if user}}
      <p class="navbar-text">Welcome {{user}},
        <a href="/logout" class="navbar-link">
          Click Here to Sign Out
        </a>
      </p>
    {{else}}
      <a href="/auth/github">
        <i class="fa fa-github" id="login"></i>
      </a>
    {{/if}}

    {{#if user}}
      <div class="small-3 columns">
        <h2>Projects</h2>
        <ul id="projects-list" class="nav nav-list"></ul>
        <br/>
        <a id="showForm" class="button button-large" href="#add">Add Project</a>
      </div>
      <div class="small-3 columns">
        <h2>Repositories</h2>
        <ul id="repository-list" class="nav inline nav-list"></ul>
      </div>
      <div class="small-3 columns">
        <h2>Commits</h2>
        <ul id="commits-list" class="media-list"></ul>
      </div>
      <div class="small-3 columns">
        <h2>Issues</h2>
        <ul id="issues-list" class="media-list"></ul>
      </div>
    {{else}}
      <div class="small-12 columns">
        <div class="hero-unit">
          <h1>vision</h1>
          <lead>a real-time multiple repository dashboard for GitHub issues and commits</lead>
          <p><small>In order to use vision; please login to a valid GitHub Account</small></p>
        </div>
      </div>
    {{/if}}
  </div>
  <!-- Vendor scripts --> 
  <script src="jquery/dist/jquery.js"></script>
  <script src="jquery-placeholder/jquery.placeholder.js"></script>
  <script src="jquery.cookie/jquery.cookie.js"></script>
  <script src="lodash/lodash.js"></script>
  <script src="backbone/backbone.js"></script>
  <script src="json2/json2.js"></script>
  <script src="handlebars/handlebars.js"></script>
  <script src="fastclick/lib/fastclick.js"></script>
  <script src="foundation/js/foundation.js"></script>
  <!-- Backbone scripts -->
  <script src="vision/vision.js"></script>
  <script src="vision/router.js"></script>
  <script src="vision/collections/projectList.js"></script>
  <script src="vision/collections/repositoryList.js"></script>
  <script src="vision/models/project.js"></script>
  <script src="vision/models/repository.js"></script>
  <script src="vision/views/projectList.js"></script>
  <script src="vision/views/project.js"></script>
  <script src="vision/views/repository.js"></script>
</body>
</html>
